.box-shadow {
  border-style: solid;
  border-color: #e6e6e6;
}

.btn-round {
  border-radius: 10px;
  margin: 5px;
}

.navbar {
  background-color: #18bc9c;
}

img {
  height: auto; 
  width: auto; 
  max-width: 400px; 
  max-height: 400px;
}

.navbar-default .navbar-brand {
  /* text-decoration: none; */
  /* text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); */
  color:  black;
}

.navbar .nav > li > a {
  float: none;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color:  black;
}
